
# MySQL database settings (used in clinic/settings.py)
MYSQL_DATABASE=clinic_appointment_system
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

# Gmail SMTP settings (used in clinic/settings.py)
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'

EMAIL_HOST = 'smtp.testmail.app'
EMAIL_PORT = 587
EMAIL_USE_TLS = True

EMAIL_HOST_USER = 'your_api_key'
EMAIL_HOST_PASSWORD = 'your_api_key'

DEFAULT_FROM_EMAIL = 'dev@testmail.app'